{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamento</h2>
    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>
    <ul style = "font-size: 18px"> <!-- aumenta um pouco o fonte -->
        {% for evento in eventos %} <!-- aceita comandos python entre chaves e porcentagem -->
            <li>
                <div style={% if evento.get_evento_atrasado %}
                              "color:red"
                            {% endif %}>
                    {{ evento.titulo }} - {{ evento.get_data_evento }}
                    ( <a href="evento/?id={{ evento.id }}">Editar</a>
                    / <a href="evento/delete/{{ evento.id }}/">Excluir</a> )
                </div>
            </li> <!-- quando tiver 2 chaves lista na pagina -->
        {% endfor %}
    </ul>
{% endblock %}
